* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --primary-color: #f67c92;
    --grey-color: #777;
    --white-color: #fff;
}

#header {
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    block-size: cover;
}

.container {
    margin: 0 100px 0 100px;
}

.logo {
    margin: 30px 0 0;
    width: 100px;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

h1 {
    font-size: 34px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: var(--primary-color);
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid var(--primary-color); 
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.common-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

p {
    font-size: 15px;
    line-height: 18px;
    color: var(--grey-color);
}

.header-text button {
    margin: 20px 0 16px;
}

.line-1 {
    margin-top: 20px;
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 1px;
    background: var(--primary-color);
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 1px;
    background: var(--primary-color);
    display: inline-block;
}

.line {
    line-height: 12px;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: var(--primary-color);
    transition: all .5s ease;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--white-color);
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}